#player ul li{
    width:230px;
    height:218px;
    list-style:none !important;
}

#player .extrainfo.selected{
    background:#ccc;
    height:55px;
}

#player #playlist .thumb{
    float:left;
}

#player #playlist .title{
    padding:10px;
    margin-left: 70px;
}

.clear {
    clear: both;
}